.head {
     background-color: yellowgreen;
     color: white;
     text-align: center;
     padding: 10px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.countries {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 5px;
}

.country {
     border: 3px solid seagreen;
     border-radius: 5px;
     padding: 20px;
}

.country img {
     width: 200px;
}